.UserEdit {
  display: flex;
  color: #252525;
  font-size: 13px;
  margin-top: 22px;

  .UserEdit-name {
    flex: 1;

    label {
      display: flex;
      flex-direction: column;
    }

    input {
      width: 240px;
      margin-top: 10px;
    }
  }

  .UserEdit-role {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 253px;
    padding-left: 23px;
    border-left: 1px solid #e5e5e5;

    label {
      color: #333333;
    }

    input {
      margin-left: 0;
      margin-top: 10px;
    }
  }
}