.Page {
  flex-direction: column;
  width: 845px;
  margin: 0 auto;
  
  &.Page--loading .Page-content,
  &.Page--error .Page-content {
    position: relative;
    display: flex;
    justify-content: center;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 15px;

    h1 {
      margin: 0;
      font-size: 34px;
    }

    .Page-buttons {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }
}