html, body {
  * {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif !important;
  }
}

.MuiButton-outlinedSecondary:not(.Mui-disabled) {
  color: red !important;
  border-color: red !important;
}