.UsersTable.MuiDataGrid-root {
  border: none;

  .MuiDataGrid-colCellTitle {
    color: #777777;
    font-size: 12px;
    text-transform: uppercase;
  }

  /* Hide checkbox header */
  .MuiDataGrid-colCell[data-field="selected"][role="columnheader"] .MuiDataGrid-colCell-draggable {
    display: none;
  }

  .MuiDataGrid-dataContainer .MuiDataGrid-cell {
    color: #333333;
    font-size: 13px !important;
    border-color: #e5e5e5;
  }

  .MuiDataGrid-row {
    &.Mui-selected {
      background-color: unset;
    }

    &:hover {
      background-color: #fafafa !important;

      .MuiDataGrid-cell {
        cursor: default;
  
        &[data-field="email"] {
          color: #0070c9;
        }
      }
    }
  }
  
  .MuiSvgIcon-root.MuiDataGrid-iconSeparator {
    display: none;
  }
}